stages: [lint, publish]

variables:
  SCL_SRC_DIR: src

clang-tidy:
  stage: lint
  image: silkeh/clang:21
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH =~ /^(main|dev)$/
  script:
    - |
      find $SCL_SRC_DIR \( -name '*.h' -o -name '*.hpp' \) | while IFS= read -r f; do
        clang-tidy "$f" --quiet --warnings-as-errors='*' -- -std=c++20 -xc++ -I$SCL_SRC_DIR || exit 1
      done

clang-format:
  stage: lint
  image: silkeh/clang:21
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH =~ /^(main|dev)$/
  script:
    - find $SCL_SRC_DIR -name '*.h' -o -name '*.hpp' | xargs clang-format
        --dry-run
        --Werror

cppcheck:
  stage: lint
  image: ubuntu:latest
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH =~ /^(main|dev)$/
  before_script:
    - apt-get update && apt-get install -y cppcheck
    - cppcheck --version
  script:
    - |
      find $SCL_SRC_DIR \( -name '*.h' -o -name '*.hpp' \) -exec cppcheck \
        --enable=warning,style,performance,portability \
        --std=c++20 \
        --language=c++ \
        --inline-suppr \
        --error-exitcode=1 \
        --suppress=missingIncludeSystem \
        --suppress=unusedFunction \
        -I$SCL_SRC_DIR \
        -UDOXYGEN \
        {} +

# ---------------------
# Mirror to GitHub
# ---------------------
# ---------------------
# Documentation
# ---------------------
pages:
  stage: publish
  image: alpine:latest
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
  before_script:
    - apk add --no-cache doxygen graphviz ttf-freefont
  script:
    - mkdir -p public
    - (cat project/doxygen/Doxyfile; printf '\nGENERATE_HTML=YES\nGENERATE_XML=NO\nHTML_OUTPUT=.\nOUTPUT_DIRECTORY=public\n') | doxygen -
  artifacts:
    paths:
      - public

mirror:github:
  stage: publish
  image:
      name: alpine/git
      entrypoint: [""]
  rules:
    - if: $CI_COMMIT_BRANCH
    - if: $CI_COMMIT_TAG
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: 0
    # Set in GitLab CI/CD group variables (ssoft-scl):
    #   GITHUB_TOKEN       - GitHub PAT with Contents: Write (masked)
    # Set in GitLab CI/CD project variables:
    #   GITHUB_MIRROR_URL  - https://github.com/ssoft-hub/scl-utility.git
  script:
    - sh script/ci/mirror_github.sh
