stages: [build, release]

variables:
  DOXY_OUT: doc/doxygen
  ZIP_NAME: "doxygen-xml-${CI_COMMIT_TAG}.zip"

build_doxygen:
  stage: build
  image: debian:stable
  rules:
    - if: $CI_COMMIT_TAG
  before_script:
    - apt-get update && apt-get install -y doxygen graphviz zip
  script:
    - doxygen project/doxygen/Doxyfile
    - cd $DOXY_OUT
    - zip -r ../../$ZIP_NAME xml
    - cd ../../
  artifacts:
    paths:
      - $ZIP_NAME
    expire_in: 1 week

release:
  stage: release
  image: curlimages/curl:latest
  rules:
    - if: $CI_COMMIT_TAG
  needs: ["build_doxygen"]
  script:
    - |
      curl --request POST \
        --header "PRIVATE-TOKEN: ${GITLAB_TOKEN}" \
        --data "name=$ZIP_NAME" \
        --data "url=${CI_PROJECT_URL}/-/jobs/${CI_JOB_ID}/artifacts/file/$ZIP_NAME" \
        "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/releases/${CI_COMMIT_TAG}/assets/links"
